{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    
</head>
<body>  
    <div class="bg">
        <h1>PointsKZ</h1>
    </div>
    <div class="container">
        
        <div class="nft">
            <div class='main'>
                <img class='tokenImage' src="{{product.images.url}}" alt="Здесь будет Фотография" />
                <h2>{{product.title}}</h2>
                <p class='description'>{{product.description}}</p>
                <p class="description">{{product.structure}}</p>
                <div class='tokenInfo'>
                    <div class="price">
                        <p>{{product.price}}</p>
                    </div>
                    <div class="duration">
                        
                        <p>{{ i.availability}}</p>
                    </div>
                </div>
                <hr />
                <a class="button" href="{% url 'edit_product' pk=product.pk %}">Изменить</a>
            </div>
        </div>
    </div>
    
       
</body>
</html>