{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %} -->
    <style>
        
    </style>
</head>
<body>  
    <div class="bg">
        <h1>PointsKZ</h1>
    </div>
    <div class="container">
    {% for i in products %}
    
    <a href="{% url 'product_detail' pk=i.pk %}"><div class="nft">
            <div class='main'>
                <img class='tokenImage' src="{{i.images.url}}" alt="Здесь будет Фотография" />
                <h2>{{i.title}}</h2>
                <p class='description'>{{i.description}}</p>
                <p class="description">{{i.structure}}</p>
                <div class='tokenInfo'>
                    <div class="price">
                        <p>{{i.price}}</p>
                    </div>
                    <div class="duration">
                        
                        <p>{{ i.availability}}</p>
                    </div>
                </div></a>
                <hr />
                <a class='button' href="{% url 'add_new_product' %}">Добавить новый продукт</a>
            </div>
        </div>
      
    {% endfor %}

    
    </div>
    
       
</body>
</html>